html {
  height: 100%;
  width: 100%;
}



body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  background-image: url("./assets/Images/HEALTHCARE\ IMAGE.png");
}


.body_container {
  margin: 0px;
  padding: 100px;
  height: 100vh;
 
}

.container {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  width: 100%;
  margin: 3px;
}

.txt {
  color: white;
}

.btn-primary {
  background-color: #00587a;
}

.input_field {
  width: 500px;
  padding: 10px;
}

.card {
  border-radius: 10px;
  box-shadow: 20;
  padding: 10px;
  width: 500px;
  margin-top: 5px;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}


@media print {
  #no-print {
    display: none;
  }
}


/* ---------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  /* background: #12c2e9;  fallback for old browsers
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.searchinner {
  width: 500px;
  margin: auto;
  background: white;
  box-shadow: 0px 5px 5px 5px rgba(34, 35, 58, 0.2);
  padding: 30px 55px 20px 55px;
  border-radius: 15px;
  transition: all .3s;
  margin-bottom: 10px;
}

.searchrow {
  align-items: center;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

h2 {
  color: #ffffff;
}

.white {
  color: #ffffff;
}

.card {
  width : 20rem;
  margin-right: 10px;
  box-shadow: 0px 5px 5px rgba(34, 35, 58, 0.2);
}

.Usercontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.select-dropdown {
  margin: 10px;
}

.ul-list {
  border: black solid 2px;
  border-radius: 5px;
  padding: 20px;
  min-height: 150px;
}

.li-list {
  list-style: none;
  border: #7f7d7d;
  color: #ffffff;
  background-color: #00587a;
  margin-bottom: 5px;
  padding-left: 10px;
  border-radius: 5px;
}

.sidenav {
  height: 100vh;
}

p {
  margin-left: 10px ;
}

.card2 {
  border-radius: 10px;
  box-shadow: 20;
  padding: 10px;
  width:100%;
  margin-top: 5px;
  background-color: antiquewhite;
}

.container2 {
  background-color: #e4d6d6;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.form-group .searchrow {
  padding-left: 30px;
}
