/* @import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Roboto","Poppins", "sans-serif", cursive;
  /* background-color: #393e46; */
  /* background-image: linear-gradient(to left,#393e46, #2d3436, #393e46); */
}

@media print {
  #no-print {
    display: none;
  }
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

.txt-1 {
  font-size: 20px;
  font-weight: 200;
}

button:focus {
  outline: none;
}

button:active {
  color: #a7d7c5;
}

.lobster-font {
  font-family: "Lobster";
}

.poppins-font {
  font-family: "Poppins";
}

.roboto-font {
  font-family: "Roboto";
  font-weight: 700;
}

.icon-size {
  font-size: 70px;
  position: relative;
  top: 10px;
}

.icon-size-sm {
  font-size: 100px;
  position: relative;
  top: 5px;
  color: #ee5a6f;
}

li {
  list-style: none;
}

.input-size {
  font-size: 30px;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.input-row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.li-font {
  font-size: 14px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

.li-font:hover {
  background-color: #333333;
  background: linear-gradient(to right, #393e46, #2d3436, #393e46); 
  border-radius: 2px;
  margin: 5px;
  transition: 0.5s;
}

.active {
  background: linear-gradient(to right, #393e46, #2d3436, #393e46 95%, #a7d7c5 5%);
  border-radius: 2px;
  margin: 5px;
}

.bold-900 {
  font-size: 100px;
  font-weight: 900;
  height: 100px;
  color: #212529;
}

.bold-500 {
  font-size: 70px;
  font-weight: 900;
  height: 100px;
}

.bold-300 {
  font-size: 40px;
  font-weight: 900;
  height: 40px;
}

.body-container {
  height: 100vh;
  width: 100%;
}

.sec-body-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.sec-home-body-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.menu-body-container {
  position: absolute;
  left: 0px;
  height: 100vh;
  width: 250px;
  background-image: linear-gradient(to bottom,#212521, #2d3436, #212521);
  background-color: #212529;
  z-index: 1;
  overflow: scroll;
}

.sec-menu-container {
  padding-top: 20px;
}

ul .menu-ul-list {
  position: fixed;
  left: 0px;
  width: 235px;
}

ul .menu-ul-list li {
  align-items: start;
}

.content-container {
  position: absolute;
  left: 250px;
  width: calc(100% - 60px);
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  
}

.nav-container {
  width: 100%;
  background-image: linear-gradient(to right,#212521, #212531, #212521, #212521);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.nav-ul {
  display: flex;
  align-items: center;
}

.nav-logged-ul {
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-left: 20px;
}

.nav-list {
  margin-right: 10px;
}

.burger-list {
  display: none;
}

.burger-menu-list {
  display: none;
}

.checkbox-container {
  height: 20px;
  width: 20px;
}

.font-medium {
  font-size: 20px;
}

.font-small {
  font-size: 14px;
}

.font-very-small {
  font-size: 10px;
}

.bold-1 {
  font-weight: bold;
}

.btn {
  width: 100%;
  margin: 3px;
}

.home-btn {
  height: 40px;
}

.txt {
  color: #ffffff;
  margin: 0px 10px 0px 10px;
}

.btn-primary {
  background-color: #00587a;
}

.card {
  border-radius: 5px;
  box-shadow: 20;
  padding: 20px;
  width: 500px;
  margin-top: 5px;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 40px 45px 40px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-inner {
  width: 450px;
  background: #ffffff;
  padding: 40px;
  border-radius: 15px;
  transition: all 0.6s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.content-inner {
  width: 89%;
  height: 88%;
  margin-top: 20px;
  background-image: linear-gradient(to right,#f6f6f6, #ffffff, #f6f6f6);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 40px 40px 40px;
  border-radius: 5px;
  transition: all 0.3s;
  overflow-y: scroll;
}

.home-content-inner {
  width: 100%;
  height: auto;
  
  padding: 90px 100px 90px 100px;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  

  background-color: #212121;
  color: white;
  border-radius: 0px 0px 50px 0px;


}

.qrcode {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: #212529 2px solid;
  border-radius: 5px;
}

.qr-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content-inner2 {
  width: 100%;
  background: #ffffff;
  padding: 30px;
  transition: all 0.3s;
 
  /* background-image: url("./assets/Images/HEALHUB-BUBBLES.png");
  background-size: cover; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: red 2px solid; */
}

.home-content-inner2-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.home-content-inner2-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #212529;
  
}
.home-content-inner2-footer-inner {
  height: 100px;
  color: white;
 
}

.heading {
  margin-bottom: 10px;

}

.login-content-inner {
  background-color: #a7d7c5;
  background-image: linear-gradient(315deg,#3ad49c, #a7d7c5 40%, #fffcff 0%);
  /* border-radius: 10px; */
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 100px;
}

.x-axis-scroll {
  overflow-x: scroll;
}

.homelogo {
  height: 100px;
  width: auto;
}

.home-1-img {
  height: 350px;
  width: auto;
}

.auth-img {
  height: 500px;
  width: auto;
}

.loginimg {
  height: 300px;
  width: auto;
}

.home-2-img {
  height: 450px;
  width: auto;
}

.profile-inner {
  width: 100%;
  margin-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.3);
  padding: 40px;
  border-radius: 10px;
  transition: all 0.3s;
  overflow: hidden;
}

.table-inner {
  width: 100%;
  margin-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.3);
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s;
  overflow: scroll;
}

.stakeholders-inner {
  width: 100%;
  height: 80%;
  margin: 0;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.1);
  padding: 40px 40px 45px 40px;
  border-radius: 10px;
  transition: all 0.3s;
}

.slide-inner {
  width: 450px;
  margin: 10px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.1);
  padding: 40px 40px 45px 40px;
  border-radius: 15px;
  transition: all 0.3s;
}

.white {
  color: #ffffff;
}

.black {
  color: #212529;
}

.card {
  width: 20rem;
  margin-right: 10px;
  box-shadow: 0px 5px 5px rgba(34, 35, 58, 0.2);
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select-dropdown {
  margin: 10px;
}

.li-list {
  list-style: none;
  height: 40px;
  color: #ffffff;
  background-color: #212529;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 4px;
}

p {
  margin-left: 10px;
}

.align-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-container {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.inside-container {
  margin: 0px;
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
}

.scrollable-container {
  margin: 0px;
  padding: 20px;
  height: 80%;
  width: 100%;
  background-color: white;
  overflow: scroll;

}

.light-card {
  border-radius: 5px;
  box-shadow: 20;
  padding: 10px;
  width: 100%;
  height: 80%;
  margin-top: 5px;
  background-color: #ffffff;
}

.gradient-card {
  border-radius: 5px;
  box-shadow: 20;
  min-width: 200px;
  max-width: 200px;
  padding: 10px;
  padding-top: 30px;
  height: 100%;
  background-image: linear-gradient(to bottom, #ee5a6f, #f29263);
  z-index: 1;
}

.profile-container {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}

.profile-img {
  height: 100px;
  width: 100px;
}

.prescription-scrollable-container {
  margin: 0px;
  padding: 20px;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow-x: scroll;
}

.profile-scrollable-container {
  margin: 0px;
  padding: 20px;
  height: 50%;
  width: 100%;
  background-color: white;
  overflow-x: scroll;
}

.nav-item {
  margin: 3px;
}

.error {
  background-color: #282c34;
  color: white;
  padding: 40px;
  text-align: center;
}

.healhub-frontline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 30px;
}

.register-home-container {
  width: 100%;
}


.register-dropdown {
  position: relative;
  opacity: 0;
  z-index: 10;
  top: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  
  justify-content: space-around;
  border-radius: 5px;
  padding: 10px;
  pointer-events: none;
  transition: all 0.4s;
 
}

.register-dropdown.active {
  opacity: 1.0;
  pointer-events: all;
} 

.hover-li {
  padding: 10px 20px;
  width: 95%;
  transition: all 0.5s;
}

.hover-li:hover {
  background-color: #282c34;
  border-radius: 10px;
}

/*---------------------------MEDIA QUERY FOR 1221 PX-----------------------------------------*/

@media only screen and (max-width: 1221px), screen and (max-height:751px )  {
  .bold-900 {
    font-size: 70px;
  }

  .icon-size-sm {
    font-size: 70px;
    position: relative;
    top: 5px;
    color: #ee5a6f;
  }

  .home-1-img {
    height: 300px;
  }

  .auth-img {
    height: 400px;
  }
  

  .home-2-img {
    height: 300px;
  }

  .login-content-inner {
    padding: 30px;
  }


}

/*---------------------------MEDIA QUERY FOR 885 PX-----------------------------------------*/

@media only screen and (max-width: 885px ) , screen and (max-height:575px )  {
  .bold-900 {
    font-size: 50px;
  }

  .bold-500 {
    font-size: 50px;
    height: 80px;
  }

  .bold-300 {
    font-size: 30px;
  }

  .icon-size-sm {
    font-size: 60px;
    position: relative;
    top: 5px;
    color: #ee5a6f;
  }

  .home-1-img {
    height: 250px;
    margin-top: 10px;
  }

  .auth-img {
    height: 250px;
  }
  

  .home-2-img {
    height: 250px;
  }

  .homelogo {
    height: 60px;
    width: auto;
  }

  .txt-1 {
    font-size: 15px;
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }

  .home-content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 30px 30px 30px;

  }

  .healhub-frontline {
    align-items: center;
  }

  .qr-container {
    align-items: center;
  }


  .login-content-inner {
    padding: 30px;
  }

  .menu-body-container {
    display: none;
  }

  .content-container {
    left: 0px;
    width: 100%;
    height: 100%;
  }

  .content-inner {
    width: 100%;
    height: 88%;
    padding: 40px 40px 40px 40px;
  }

  .logo {
    display: none;
  }

  .burger-menu-list {
    position: absolute;
    left: 20px;
    top: 0px;
    display: flex;
  }


  .burger-menu-button {
    position: absolute;
    top: 20px;
    left: 5px;
    background-color: #212529;
    color: white;
    align-items: center;
    border: none;
    outline: none;
  }

  .menu-dropdown {
    position: relative;
    opacity: 0;
    z-index: 10;
    top: 60px;
    right: 0px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(to right, #333333 95%, #a7d7c5 5%);
    border-radius: 5px;
    padding: 10px;
    pointer-events: none;
    transition: all 0.4s;
  }

  .menu-dropdown.active {
    opacity: 1.0;
    pointer-events: all;
  }
}

/*---------------------------MEDIA QUERY FOR 455 PX-----------------------------------------*/

@media only screen and (max-width: 455px) , screen and (max-height:500px )   {
  .qrcode {
    height: 100px;
    width: 100px;
    margin: 5px;
  }

  p {
    font-size: 11px;
  }

  .bold-900 {
    font-size: 50px;
  }

  .bold-500 {
    font-size: 40px;
    height: 30px;
  }

  .bold-300 {
    font-size: 20px;
  }

  .icon-size-sm {
    font-size: 40px;
    position: relative;
    top: 5px;
    color: #ee5a6f;
  }

  .icon-size {
    font-size: 40px;
  }

  .home-1-img {
    height: 150px;
  }

  .auth-img {
    display: none;
  }
  

  .home-2-img {
    display: none;
  }

  .nav-ul {
    display: none;
  }

  li {
    font-size: 12px;
  }

  .btn {
    font-size: 15px;
  }

  .body-container {
    overflow: hidden;
  }

  .burger-list {
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: row;
  }

  .burger-button {
    position: relative;
    margin-right: 10px;
    background-color: #212521;
    color: white;
    border: none;
  }

  .dropdown {
    position: absolute;
    opacity: 0;
    z-index: 10;
    top: 50px;
    right: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(to right, #333333 95%, #a7d7c5 5%);
    border-radius: 5px;
    padding: 20px;
    pointer-events: none;
    transition: all 0.4s;
  }

  .dropdown.active {
    opacity: 1.0;
    pointer-events: all;
  }

  .content-container {
    padding: 0px;
  }

  .content-inner {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 0px;
   
  }

  .input-row {
    flex-direction: column;
    justify-content: center;

  }

  .profile-inner {
    padding: 20px;
  }

  .login-content-inner {
    flex-direction: column;
    padding-top: 0px;
  }

   .auth-inner {
    width: 300px;
    padding: 10px 20px;
   
  }

  .home-content-inner2-inner {
    flex-direction: column;
  }
}
